/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: 'Quicksand', sans-serif;
  background-color: #e0e0e0;
  color: rgb(93, 93, 93);
  cursor: pointer;
  padding: 16px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:nth-child(4n)
{
  background: #d2d2d2;
}
.accordion:nth-child(4n+1)
{
  background-color: #d2d2d2;
}

.title {
  color: #007800;
  font-size: 120%;
  font-weight: 550;
}

/* 
.authors {
} 
*/

.score {
  font-size: 105%;
  font-weight: 550;
  color: #54abff;
}

/*
.hit_terms {
  color: #3b3b3b;
}
*/

.details {
  text-align: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #b4b4b4;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* URL style */
a:link, a:visited {
  color: #1286ff;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 3px;
  padding-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #d7d7d7;
}

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}

